POSTGRES_USER=scheduler
POSTGRES_PASSWORD=scheduler
POSTGRES_DB=scheduler_db
DATABASE_URL=postgres://scheduler:scheduler@postgres:5432/scheduler_db?sslmode=disable

NATS_URL=nats://nats:4222
OTEL_EXPORTER_OTLP_ENDPOINT=otel-collector:4317

SCHEDULERS=1
FETCHERS=1
DELIVERIES=1
